################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/FilesRanameTool/.vs
/FilesRanameTool/FilesRanameTool/bin/Debug
/FilesRanameTool/FilesRanameTool/obj
/FilesRanameTool/FilesRanameTool/bin/Release
/Heic2Jpg/.vs/Heic2Jpg
/Heic2Jpg/Heic2Jpg/bin/Debug/net7.0
/Heic2Jpg/Heic2Jpg/obj
/M3U8_UnencryptedVideoKey/.vs
/M3U8_UnencryptedVideoKey/M3U8_UnencryptedVideoKey/bin
/M3U8_UnencryptedVideoKey/M3U8_UnencryptedVideoKey/obj
/FileOrganizer/ConsoleApp1/bin
/FileOrganizer/.vs/FileOrganizer
/FileOrganizer/ConsoleApp1/obj
